body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.pointer {
    cursor: pointer;
}

/* style for search bar */
.container form {
    width: 80%;
}

.container input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.container input[type=text]:focus {
    width: 90%;
}

/* Style for series info block */
.series_info_block {
    height: 425px;
    width: 100%;
    background: #1d2124;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.top-right-button {
    top: 0;
    right: 0;
    position: absolute;
}

.series-info-table {
    padding: .375rem .75rem;
    width: 80%;
    height: 375px;
    margin: 20px;
}

.poster {
    text-align: center;
}

.series-overview {
    vertical-align: top;
    padding-left: 20px;
    height: 80%;
}

.series-title {
    vertical-align: top;
    padding-left: 20px;
    height: 10%;
}

.series-networks {
    vertical-align: top;
    padding-left: 20px;
    height: 10%;
}

.series-genres {
    vertical-align: top;
    padding-left: 20px;
    height: 10%;
}

.bottom-nav-bar {
    text-align: center;
    position: relative;
}

.table-cell {
    max-height: 250px;
    overflow: auto;


}




.container {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  background-color: #000;
}

.header h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 200;
  color: #fff;
  margin: 10;
  padding: 7px 0;
    position: absolute;
     right:15px;
}

.notification {

  text-align: right;
    position: absolute;
     right:125px;

}

.notification img {
  padding: 10px 10;
    position: absolute;
     right:10px;


}

.notification-menu {
  position: absolute;
  top: 50px;
  left: -150px;
  background-color: #e5e5e5;
  border: #989898;
  padding: 10px;
  list-style: none;
  width: 250px;
  display: none;
  text-align: left;
    height: 300px;
    overflow-y:scroll;


}

.notification-menu li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
    display: block;


    
}

.notification-menu .avatar {
  padding: 2px 0;

}

.notification-menu h3 {
  font-size: 15px;
  margin: 0 0 5px 0;
  display: inline;

}

.notification-menu p {
  margin-bottom: 0;
  font-size: 14px;
}


.notification[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:5px;
   right:0px;
   font-size:20px;
   background:red;
   color:white;
   width:20px;height:20px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}



