body {
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.pointer {
    cursor: pointer;
}

/* style for search bar */
.container form {
    width: 80%;
}

.container input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.container input[type=text]:focus {
    width: 90%;
}

/* Style for series info block */
.series_info_block {
    height: 425px;
    width: 100%;
    background: #1d2124;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.top-right-button {
    top: 0;
    right: 0;
    position: absolute;
}

.series-info-table {
    padding: .375rem .75rem;
    width: 80%;
    height: 375px;
    margin: 20px;
}

.poster {
    text-align: center;
}

.series-overview {
    vertical-align: top;
    padding-left: 20px;
    height: 80%;
}

.series-title {
    vertical-align: top;
    padding-left: 20px;
    height: 10%;
}

.series-networks {
    vertical-align: top;
    padding-left: 20px;
    height: 10%;
}

.bottom-nav-bar {
    text-align: center;
    position: relative;
}

.table-cell {
    max-height: 250px;
    overflow: auto;
}

/*
    table, th, td {
        border: 1px solid black;
    }
*/


