<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Projet POOA</title>

    <script src="{{url_for('static', filename='startbootstrap-thumbnail-gallery-gh-pages/vendor/jquery/jquery.min.js')}}"></script>


    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='startbootstrap-thumbnail-gallery-gh-pages/vendor/bootstrap/css/bootstrap.min.css')}}"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='startbootstrap-thumbnail-gallery-gh-pages/css/thumbnail-gallery.css')}}"
          rel="stylesheet">

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <form action="/searchResult" method="POST" style="width: 80%">
            <input type="text" name="search" id="searchBar" placeholder="Search..">
            <!--style for search bar- Added by Seddik-->
            <style type="text/css">input[type=text] {
                width: 130px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }

            /* When the input field gets focus, change its width to 100% */
            input[type=text]:focus {
                width: 90%;
            }</style>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('home')}}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    {% block search_result %} {% endblock %}

    <h1 class="my-4 text-center text-lg-left">Favorite series Gallery</h1>
    <div class="row text-center text-lg-left">
        <!-- show favorite series -->
        {% for series in fav_series %}
        <div class="col-lg-3 col-md-4 col-xs-6" id={{series.id}}>
            <a href="{{url_for('series_info', series_id= series.id)}}" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src={{"https://image.tmdb.org/t/p/w200/"+series.series_info['poster_path']}} alt="">
            </a>
        </div>
        {%endfor%}
        <!-- end show favorite series -->
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#searchBar" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/plus300x200-filled.jpg')}}" alt="">
            </a>
        </div>
    </div>

</div>
<!-- /.container -->
<!-- show series info-->
        {% block series_info %} {% endblock %}
<!-- end show series info -->
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CS 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{url_for('static',filename='startbootstrap-thumbnail-gallery-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<style type="text/css">
    body {
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
</style>
</body>
</html>
