<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}"/>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='startbootstrap-thumbnail-gallery-gh-pages/vendor/bootstrap/css/bootstrap.min.css')}}"
          rel="stylesheet">
    <!-- Home made CSS -->
    <link href="{{url_for('static', filename='style_global.css')}}" rel="stylesheet">

    <title>Error</title>
</head>
<body>
<h1 class="my-4 text-left text-white" style="padding-left: 30px">{{error_msg}}</h1>
{% if login_error %}
<a href='{{url_for("login")}}' style="padding-left: 30px">Retry sign up / login </a>
{% else %}
<meta http-equiv="refresh" content="3" >
<div class="text-white">This page will reload automatically</div>
{% endif %}
</body>
</html>