<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password restoration</title>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='startbootstrap-thumbnail-gallery-gh-pages/vendor/bootstrap/css/bootstrap.min.css')}}"
          rel="stylesheet">
    <!-- Home made CSS -->
    <link href="{{url_for('static', filename='seddikMade.css')}}" rel="stylesheet">
</head>
<body>
<h2 class="text-white">A new password has been sent to this email: {{email}}</h2>
<h3 class="text-white">You will be automatically redirected to the <a href="{{url_for('login')}}">login page</a></h3>
<meta http-equiv="refresh" content="5;url={{url_for('login')}}"/>

</body>
</html>