<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password restoration</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}"/>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='startbootstrap-thumbnail-gallery-gh-pages/vendor/bootstrap/css/bootstrap.min.css')}}"
          rel="stylesheet">
    <!-- Home made CSS -->
    <link href="{{url_for('static', filename='style_global.css')}}" rel="stylesheet">
</head>
<body>
<div id="forgot_password">
    {% if email %}
    <h2 class="text-white">A new password has been sent to this email: {{email}}</h2>
    <h3 class="text-white">You will be automatically redirected to the <a href="{{url_for('login')}}">login page</a>
    </h3>
    <meta http-equiv="refresh" content="5;url={{url_for('login')}}"/>
    {% else %}
    <h3 class="text-white">Please enter your email address:</h3>
    <form action={{url_for('forgot_password')}} method="post" id="forgot_password_form" name="forgot_password_form">
        <input type="email" name="email" required autocomplete="off"/>
        <button class="button" type="submit"/>
        Send new password</button>
    </form>
    {% endif %}
</div>
</body>
</html>